{% extends 'base.html' %}
{% block title %}
My items
{% endblock %}
{% block content %}

<div class="row" style="margin-top:20px; margin-left:20px">
    <div class="col-8">
        <h2>Owned Items</h2>
        <p>Click on sell item to put an item back on the Market</p>
        <br>
        <div class="row">
            {% for owned_item in owned_items %}
            <!-- each item will trigger a seperate modal -->
            {% include 'includes/owned_items_modals.html' %}
            <div class="col-md-6">
                <div style="margin-bottom: 5px" class="card text-center bg-info">
                    <div class="card-body">
                        <h5 class="card-title">{{ owned_item.name }}</h5>
                        <p class="card-text"><strong>
                                This item costs ${{ owned_item.price }}
                            </strong></p>
                        <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px" data-toggle="modal" data-target="#Modal-SellingConfirm-{{ owned_item.id }}">
                            Sell this Item
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}